/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

html {
    scrollbar-width: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ECF4FF;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

.navbar-header {
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-success {
    background: #4E6C50;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-link {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #ECF4FF;
}

.searchBox {
    width: 396px;
    height: 46px;
    display: flex;
    flex-direction: row;
}

.searchBar {
    max-width: 396px;
    width: 100%;
    height: 46px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid var(--stroke-primary, #E4E7EE);
    background: rgba(255, 255, 255, 0.10);
    text-indent: 5px;
}

    .searchBar:focus {
        outline: 0.5px solid black;
    }

.searchBtn {
    display: flex;
    width: 60px;
    height: 46px;
    padding: 11px 18px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: #4E6C50;
}

.profile-img {
    width: 46px;
    height: 46px;
    border-radius: 10px;
}

footer {
    background: linear-gradient(270deg, rgba(78, 108, 80, 0.50) 0%, rgba(170, 139, 86, 0.50) 100%);
    width: auto;
    padding: 24px 0;
    margin-top: 85px;
}

.footer-docs {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame-wrap {
    width: fit-content;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.title {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.32px;
}

.item {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}

.about-us {
    width: 396px;
    flex-direction: column
}

.profile {
    background-size: contain;
}

.profile-popup {
    box-shadow: 5px 10px #00000040;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: max-content;
    height: max-content;
    min-width: 180px;
    background: #ECF4FF;
    z-index: 5;
    border-radius: 8px;
    border: #4E6C50 2px solid;
    transition: 0.2s all;
    transition-delay: 0.3s;
}

    .profile-link:hover ~ .profile-popup,
    .profile-popup:hover {
        opacity: 1;
        transition-delay: 0.2s;
        visibility: visible;
    }


