@model anhemtoicodeweb.Models.OrderPro


@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center flex-column pt-3">
    <h2>Đơn hàng của bạn đang được xử lý!</h2>
    <h3>Chúng tôi sẽ thông báo cho bạn về đơn hàng này sớm nhất có thể.</h3>
    <h3>Mã đơn hàng: @Model.ID</h3>
    <a href="@Url.Action("Index", "Home")">&#8592 Quay lại trang chủ</a>
</div>