@model anhemtoicodeweb.Models.Customer

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/Login.css")" rel="stylesheet" type="text/css" />
}

<div class="popup" method="post" action="@Url.Action("Index", "Login")">
    <div class="wrapper align-items-center justify-content-center">
        <h2>Skill issue</h2>
        <div>
            <a href="@Url.Action("Index", "Login")">&#8592 Back to Login</a>
        </div>
    </div>
</div>