@{
    ViewBag.Title = "Home Page";
}

<main>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <div class="imgSlideshow">
        <img src="~/Image/image_banner.png" class="imgBanner" />
    </div>
    @* slideshow when *@
    <h2 style="width:auto">Danh mục</h2>
</main>