@{
    ViewBag.Title = "Home Page";
}

@*@section Styles {
    <link href="@Url.Content("~/Content/css/Index.css")" rel="stylesheet" type="text/css" />
}*@

<main style="height:auto;">
    <link href="~/Content/css/Index.css" rel="stylesheet" />
    <div class="p-2 imgSlideshow">
        <img src="~/Image/image_banner.png" class="imgBanner" />
    </div>
    @* slideshow when *@
    <div class="section">
        <h2>Danh mục</h2>
        <div class="container-wrap category">
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category1</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category2</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category3</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category4</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category5</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category6</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category7</h3>
            </div>
        </div>
        <button class="moreButton">More</button>
    </div>
    <div class="section">
        @* products *@
        <h2>Products</h2>
        <div class="container-wrap product">
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
        </div>
        <button class="moreButton">More</button>
    </div>
    <div class="mt-5 imgSlideshow">
        <img src="~/Image/image_banner.png" class="imgBanner" />
    </div>
    <div class="section">
        @* products *@
        <h2>Products</h2>
        <div class="container-wrap product">
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
            <div class="product-box">
                <img src="~/Image/image 6.png" />
                <h3>ProductPrice</h3>
                <h4>ProductName</h4>
                <p>FavouriteCount</p>
                <div class="BuyNowBtn">Buy Now</div>
            </div>
        </div>
        <button class="moreButton">More</button>
    </div>
</main>