@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/Index.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

}

<main style="height:auto;">
    <link href="~/Content/css/Index.css" rel="stylesheet" />
    <div class="p-2 imgSlideshow">
        <img src="~/Image/image_banner1.png" class="imgBanner" />
    </div>
    @* slideshow when *@
    <div class="section">
        <h2>Danh mục</h2>
        <div class="container-wrap category">
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category1</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category2</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category3</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category4</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category5</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category6</h3>
            </div>
            <div class="category-box">
                <img src="~/Image/image 6.png" />
                <h3>Category7</h3>
            </div>
        </div>
        <button class="moreButton">More</button>
    </div>
    <div class="section">
        @* products *@
        <h2>Products</h2>
        <div class="container-wrap product">
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">idk ProductName ProductName ProductName ProductName ProductName ProductName ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">Longgggggggggggggggggggg ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
        </div>
        <button class="moreButton">More</button>
    </div>
    @*banner*@
    <section aria-label="banner">

        <div class="w3-content w3-display-container">
            <img class="mySlides" src="~/Image/image_banner1.png" style="width:100%">
            <img class="mySlides" src="~/Image/slide1.png" style="width:100%">
            <img class="mySlides" src="~/Image/silde2.jpg" style="width:100%">

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </section>


    <div class="section">
        @* products *@
        <h2>Products</h2>
        <div class="container-wrap product">
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">idk ProductName ProductName ProductName ProductName ProductName ProductName ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">Longgggggggggggggggggggg ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-image">
                    <img src="~/Image/image 6.png" />
                </div>
                <div class="product-content">
                    <div class="main-content">
                        <div class="product-price">ProductPrice</div>
                        <div class="product-name">ProductName</div>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="no-select BuyNowBtn">Buy Now</div>
                        <img src="~/Image/svg/cart.svg" alt="cart button">
                    </div>
                </div>
            </div>
        </div>
        <button class="moreButton">More</button>
    </div>
</main>