
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/Login.css")" rel="stylesheet" type="text/css" />
}

<form class="popup">
    <div class="wrapper">
        <h1>Login</h1>
        <div class="input-field">
            <input class="input-box" type="text" placeholder="Username" name="uname" required>
            <input class="input-box" type="password" placeholder="Password" name="psw" required>
        </div>
        <button class="login-btn" type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
</div>
</form>