
@{
    ViewBag.Title = "ProDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/css/Design.css" rel="stylesheet"/>
}
<div id="div-top">
    <h2>Test</h2>
</div>
<div id="div-containt">
    <h2>ProDetails</h2>
</div>


