@{
    ViewBag.Title = "ProDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="height:auto;">
    <link href="~/Content/css/ProDetails.css" rel="stylesheet" />
    <div class="container">
        <div class="image">
            <img src="~/Image/image 7.png">
        </div>
        <div class="text">
            <h1>Product's name</h1>
            <l>★★★☆☆</l>
            <p>1.000.000.000 ₫</p>
            <div class="no-select BuyNowBtn">Buy Now</div>
        </div>

    </div>
</main>







