body {
    
    margin: 0;
    background-color: #323232;
}
#rectangle {
    height: 542px;
    width: 466px;
    background-color: white;
    position: relative;
    margin-top: 100px;
    margin-left: 375px;
    

}
#Login {
    position:absolute;
    width: 450px;
    left:60%;
    top: 5%;
    transform: translate(-50%, 150%);
}
h1 {
    width:50px;
    height:50px;
    position: absolute;
    top: 0;
    right: 0;
    
}
h2 {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 150%);
}

