h2 {

}

.section {
    margin-top: 40px;
}

.imgSlideshow {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.imgBanner {
    width: 1231px;
    height: auto;
    border-radius: 20px;
}

.container-wrap {
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;
    gap: 10px;*/
}

/*Category section*/
.container-wrap.category {
    justify-content: space-between;
}

.category-box {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background-color: darkcyan;
}

.category-box h3 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.moreButton {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: var(--background-white, #FFF);
    border: none;
    text-align: center;
}

.container-wrap.product {
    flex-wrap: wrap;
    gap: 40px;
}

.product-box {
    width: 227px;
    height: 357px;
    border-radius: 10px;
    background-color: #FFFFFF;
}