h2 {
}

section {
    margin-top: 40px;
    margin-bottom: 20px;
}

.container-wrap {
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;
	gap: 10px;
	*/
}
    /*Category section*/
    .container-wrap.category {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

.category-box {
    width: calc(100% / 7 - 15px);
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    transition: transform 0.5s
}

    .category-box:hover {
        transform: scale(1.1);
        transition: transform 0.3s
    }

    .category-box img {
        width: 100%;
        height: auto;
        position: relative;
    }

    .category-box h3 {
        padding: 12px 4px 12px 4px;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.moreButton {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: var(--background-white, #FFF);
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container-wrap.product {
    flex-wrap: wrap;
    gap: 0px;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: calc(100%/6);
    height: 390px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 14px;
    overflow: hidden;
    transition: all 0.2s ease;
    position: relative;
    border: 1px solid gainsboro;
}

    .product-box:hover {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border: 1px solid #727272;
    }

.product-image {
    display: flex;
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

    .product-image img {
        width: 100%;
    }

.product-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.product-price {
    color: black;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.product-name {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
/*    height: 4.15em;*/
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.BuyNowBtn {
    color: white;
    display: flex;
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #e13636;
    cursor: pointer;
}

    .BuyNowBtn:hover {
        transition: 0.3s;
        opacity: 0.8;
    }

    .BuyNowBtn:not(:hover) {
        opacity: 1;
        transition: 0.3s;
    }

.slick-arrow {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 9px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border: none;
    opacity: 0.6;
}

.slide-container {
    overflow: hidden;
}

.slick-arrow {
    color: #00000080;
    background: none;
    position: absolute;
    top: calc(50% - 32px);
    font-size: 64px;
    font-family: system-ui;
    transition: color 0.3s ease-in-out;
    z-index: 5;
}

    .slick-arrow:hover {
        color: #000
    }

.slick-prev.slick-arrow {
    left: 12px;
}

.slick-next.slick-arrow {
    right: 12px;
}

.slick-prev-prod.slick-arrow {
    left: -5%;
}

.slick-next-prod.slick-arrow {
    right: -5%;
}

.image_banner {
    min-height: 400px;
    aspect-ratio: 3.1;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .category-box, .product-box {
        width: calc( 100% / 5 - 15px);
    }

    .container-wrap.category, .container-wrap.product {
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .category-box {
        width: calc( 100% / 4 - 15px);
    }

        .category-box h3 {
            font-size: 16px;
            line-height: 1rem;
        }

    .product-box {
        width: calc( 100% / 3 - 30px);
    }
}

@media (max-width: 768px) {
    .category-box {
        width: calc( 100% / 3 - 5px);
    }

    .product-box {
        width: calc( 100% / 2 - 30px);
    }

        .product-box .btn-section {
            gap: 4px !important;
        }
}

@media (max-width: 512px) {
    .category-box {
        width: calc( 100%/2 - 5px);
        height: fit-content;
        height: -moz-fit-content;
    }
}

@media (max-width: 400px) {
    .product-box {
        width: 100%;
        height: fit-content;
        height: -moz-fit-content;
    }
}

.out-of-stock {
    background-color: #5c5c5c;
    cursor: not-allowed;
}

.out-of-stock-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: red;
}
