.page-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid-nav-page {
    display: grid;
    border: #4E6C50 2px solid;
    border-radius: 8px;
    overflow: hidden;
/*    border-right-style: hidden;*/
/*    box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.2);*/
}

.page-btn {
    grid-row: 1;
    width: 48px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 22px;
    /*    border-right: #4E6C50 2px solid;*/
    padding: 2px 0px;
}

.skip-btn {
    letter-spacing: -5px;
    text-indent: 5px;
    font-weight: 500;
}
